{% render 'partials/head.liquid' %}
{% render 'partials/nav.liquid' %}


</header>

<main>
    <section class="page-title">
        <a href="">← TERUG NAAR HOME</a>

        <h1>VACATURES</h1>
        <p>Verslim je carrière bij de beste digitale bureaus van Nederland. Pak je rol als developer of designer, researcher, als scrum master of marketeer, als strateeg. Start of groei door – en laat zien wat je kan.</p>
    </section>

    <section class="add-vacature">
        <button popovertarget="mypopover" class="add-button">
            <p>+</p>
            <p>VOEG VACATURE TOE</p>
        </button>

        <dialog popover id="mypopover">
            <button popovertarget="mypopover" popovertargetaction="hide" class="popup-button">x</button>

            <form method="post" action="/toevoegen"> 
                <label>
                    Titel:
                    <input type="text" name="title">
                </label>

                <label>
                    Locatie:
                    <input type="text" name="locatie">
                </label>

                <label>
                    Uren:
                    <input type="text" name="hours">
                </label>

                <button type="submit">Verstuur!</button>
            </form>
        </dialog>
    </section>

    {% if vacatures.size > 0 %}

        {% for vacature in vacatures %}

            <section class="vacature">
                <h2>{{ vacature.title }}</h2>
                <p>{{ vacature.locatie }}</p>
                <p>{{ vacature.hours }} uur</p> 
                <a href="/vacature/{{ vacature.id }}">BEKIJKEN ↗</a>
            </section>
        
        {% endfor %}

    {% else %}

    {% render 'partials/empty.liquid' %}

    {% endif %}
</main>

{% render 'partials/foot.liquid' %}