{% render 'partials/head.liquid' %}
<section>
    <a href="">← TERUG NAAR HOME</a>

    <h1>VACATURES</h1>
    <p>Verslim je carrière bij de beste digitale bureaus van Nederland. Pak je rol als developer of designer, researcher, als scrum master of marketeer, als strateeg. Start of groei door – en laat zien wat je kan.</p>
</section>


</header>

<main>

    <section class="add-vacature">
        <a href="/toevoegen"><h2>+ VOEG VACATURE TOE</h2></a>
    </section>

    {% for vacature in vacatures %}

        <section class="vacature">
            <h2>{{ vacature.title }}</h2>
            <p>{{ vacature.locatie }}</p>
            <p>{{ vacature.hours }} uur</p> 
            <a href="/vacature/{{ vacature.id }}">BEKIJKEN ↗</a>
        </section>

    {% endfor %}

</main>

{% render 'partials/foot.liquid' %}