<form method="post">
  <label>
    Agency:
    <input type="text" name="title">
  </label>

  <label>
    Locatie:
    <input type="text" name="locatie">
  </label>

  <label>
    Uren:
    <input type="text" name="hours">
  </label>

  <button type="submit">Verstuur!</button>
</form>