{% render 'partials/head.liquid' %}
{% render 'partials/nav.liquid' %}

{% for vacature in vacatures %}

    <section>
        <a href="/">← TERUG NAAR HOME</a>

        <h1>{{ vacature.title }}</h1>
        <p>Verslim je carrière bij de beste digitale bureaus van Nederland. Pak je rol als developer of designer, researcher, als scrum master of marketeer, als strateeg. Start of groei door – en laat zien wat je kan.</p>
    </section>

</header>

    <p>{{ vacature.locatie }}</p>
    <p>{{ vacature.description }}</p>

{% endfor %}

{% render 'partials/foot.liquid' %}

