@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');

body{
    font-family: Archivo, sans-serif;
    margin: 0;
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    justify-self: center;

    @media(min-width:450px){
        border-left: .07em solid black ;
        border-right: .07em solid black ;
        width: 90vw;
    }
}

h1{
    font-size: 3em;
    margin: 0;
    padding: .3em;
    font-weight: 650;
    /* max-width: 200px;
    hyphens: auto; */
    @media(min-width:880px){
        font-size: 6em;
    }
}

header{
    position: sticky;
    top: 0;

    nav{
        border-bottom: .07em solid black;
        padding-block: 1em;
        background-color: white;

        li{
            font-size: .8em;
            font-family: Martian Mono, monospace;
        }

        .login{
            color: #364bf7;

            &:hover{
                color: black;
            }
        }

        .border-a{
            border: 1px solid black;
            padding: 1em;
        }

        svg{
            height: 3em;
            margin-left: 1em;
            
            @media(min-width:900px){
                height: 5em;
            }
        }

        @media(min-width:700px){
            display: flex;
            /* gap: .5em; */
        }
    }


    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: #364bf7;
        }
    }

    li{
        list-style: none;
    }
    
}

.navigation{
    display: none;
    width: 60%;

    @media(min-width:700px){
        padding-bottom: 3em;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }
}

.navigation-right{
    display: none;
    padding-right: 1em;

    @media(min-width:700px){
        display: flex;
        justify-content: flex-end;
        gap: 1em;
        width: 40%;
    }

}

.ham-button{
    z-index: 100;

    @media(min-width:700px){
        display: none;
    }
}


.close-button{
    /* position: absolute; */

}

.side-bar{
    background-color: white;
    /* background-color: green; */
    height: 100vh;
    width: 100%;
    right: -400px;
    top: -.01em;
    max-width: 300px;
    position: fixed;
    transition: ease .3s;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;

    li{
        margin: 1em;
    }

    &.active{
        right: 0;
    }
}

.button-container{
    display: flex;
    justify-content: flex-end;
    background-color: pink;
}

main{
    padding: 1em;
    section{
        border-bottom: .07em solid black;
        padding-bottom: 1em;
    }

    a{
        text-decoration: none;
        color: #364bf7;

        &:hover{
            color: black;
        }
    }

    .page-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        border-bottom: .07em solid black;
        padding-block: 3em;

        a{
            color: black;

            &:hover{
                color: #364bf7;
            }
        }


        p{
            text-align: center;
            max-width: 80%;
            line-height: 1.5em;

        }
    }

}

.add-vacature{
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
    /* padding-bottom: 3em; */

    .add-button{
        display: flex;
        border: none;
        background: none;
        gap: .3em;
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
        color: #364bf7;

        &:hover{
            color: black;
        }
        
        @media(min-width:500px){
            font-size: 2em;
        }
    }
}

#mypopover{
    padding: 2em;
    gap: 1em;

    form{
        display: flex;
        flex-direction: column;
        align-items: end;

        button{
            width: 100%;
            margin-bottom: 1em;
        }
    }

    label{
        /* min-width: 50px; */
        padding-block: 1em;
    }
}

.vacature{
    display: grid;
    grid-template-columns: 2.5fr 3fr;
    /* max-width: 300px; */

    h2{
        font-weight: 400;
        grid-column: 1/-1;

        @media(min-width:800px){
            min-width: 400px;
        }

        @media(min-width:990px){
            min-width: 400px;
            font-size: 2em;
            min-width: 550px;
        }
    }

    p{
        font-family: Martian Mono, monospace;

        @media(min-width:900px){
            min-width: 100px;
        }
    }

    a{
        font-family: Martian Mono, monospace;
    }

    @media(min-width:810px){
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: none;
    }
}